<h1>New task</h1>
<p>
<md-input-container class="example-full-width">
  <input mdInput placeholder="Name">
</md-input-container>
</p>
<p>
<md-input-container class="example-full-width">
  <input mdInput placeholder="Project">
</md-input-container>
</p>
<p>
<md-input-container class="example-full-width">
  <input mdInput placeholder="Resource">
</md-input-container>
</p>
<p>
<md-input-container class="example-full-width">
  <input mdInput placeholder="Workload">
</md-input-container>
</p>
<p>
<md-input-container class="example-full-width">
  <input mdInput placeholder="Etc">
</md-input-container>
</p>
<p>
  <button md-raised-button>Create</button>
</p>
