<h1 *ngIf="isCreate">New resource</h1>
<h1 *ngIf="!isCreate">Modify resource</h1>
<table>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="resourceName" matInput placeholder="Name" [(ngModel)]="resource.name">
    </mat-input-container>
  </tr>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="resourceTrigram" matInput placeholder="Trigram" [(ngModel)]="resource.trigram">
    </mat-input-container>
  </tr>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="role" matInput placeholder="Role" [(ngModel)]="resource.role">
    </mat-input-container>
  </tr>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="description" matInput placeholder="Description" [(ngModel)]="resource.description">
    </mat-input-container>
  </tr>

  <tr>
    <button mat-raised-button (click)="createResource()" *ngIf="isCreate">Create</button>
    <button mat-raised-button (click)="modifyResource()" *ngIf="!isCreate">Modify</button>
  </tr>
</table>
