<h1 *ngIf="isCreate">New task</h1>
<h1 *ngIf="!isCreate">Modify task</h1>
<table>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="taskName" matInput placeholder="Name" [(ngModel)]="task.name">
    </mat-input-container>
  </tr>

  <tr>
    <mat-form-field>
      <mat-select placeholder="Project" [style.width]="'100%'" [(ngModel)]="task.projectName">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{ project }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </tr>

  <!-- TODO : A supprimer -->
  <br>

  <tr>
    <mat-form-field>
      <mat-select placeholder="Resource" [style.width]="'100%'" [(ngModel)]="task.resourceTrigram">
        <mat-option *ngFor="let resource of resources" [value]="resource.trigram">
          {{ resource.trigram }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </tr>

  <!-- TODO : A supprimer -->
  <br>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="workload" matInput placeholder="Workload" [(ngModel)]="task.workload">
    </mat-input-container>
  </tr>

  <tr>
    <mat-input-container class="container-full-width">
      <input name="etc" matInput placeholder="Etc" [(ngModel)]="task.etc">
    </mat-input-container>
  </tr>

  <tr>
    <button mat-raised-button (click)="createTask()" *ngIf="isCreate">Create</button>
    <button mat-raised-button (click)="modifyTask()" *ngIf="!isCreate">Modify</button>
  </tr>
</table>
