<h1 *ngIf="isCreate">New resource</h1>
<h1 *ngIf="!isCreate">Modify resource</h1>
<table>

  <tr>
    <md-input-container class="container-full-width">
      <input name="resourceName" mdInput placeholder="Name" [(ngModel)]="resource.name">
    </md-input-container>
  </tr>

  <tr>
    <md-input-container class="container-full-width">
      <input name="resourceTrigram" mdInput placeholder="Trigram" [(ngModel)]="resource.trigram">
    </md-input-container>
  </tr>

  <tr>
    <md-input-container class="container-full-width">
      <input name="role" mdInput placeholder="Role" [(ngModel)]="resource.role">
    </md-input-container>
  </tr>

  <tr>
    <md-input-container class="container-full-width">
      <input name="description" mdInput placeholder="Description" [(ngModel)]="resource.description">
    </md-input-container>
  </tr>

  <tr>
    <button md-raised-button (click)="createResource()" *ngIf="isCreate">Create</button>
    <button md-raised-button (click)="modifyResource()" *ngIf="!isCreate">Modify</button>
  </tr>
</table>
