<div class="app-content" *ngIf="currentDate!= null">

  <table class="mat-elevation-z8">
    <tr class="tabHeader">
      <th colspan="6" class="white"></th>
      <th colspan="25" class="white">{{currentDate | date: 'dd' }} {{currentDate | date:
        'MMMM'}} {{currentDate | date: 'yyyy'}} - {{addDays(currentDate,
        25) | date: 'dd'}} {{addDays(currentDate, 25) | date: 'MMMM'}}
        {{addDays(currentDate, 25) | date: 'yyyy'}}
      </th>
    </tr>
    <!-- TODO : A OPTIMISER / rendre plus beau-->
    <tr class="tabHeader ">
      <th colspan="6"></th>
      <th>{{currentDate | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 1) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 2) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 3) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 4) | date: 'EE'}}</th>
      <th>WE</th>
      <th>{{addDays(currentDate, 7) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 8) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 9) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 10) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 11) | date: 'EE'}}</th>
      <th>WE</th>
      <th>{{addDays(currentDate, 14) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 15) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 16) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 17) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 18) | date: 'EE'}}</th>
      <th>WE</th>
      <th>{{addDays(currentDate, 21) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 22) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 23) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 24) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 25) | date: 'EE'}}</th>
      <th>WE</th>
    </tr>
    <tr class="tabHeader">
      <th>Position</th>
      <th>Resource</th>
      <th>Project</th>
      <th>Task</th>
      <th>Workload</th>
      <th>Etc</th>
      <th>{{currentDate | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 1) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 2) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 3) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 4) | date: 'dd'}}</th>
      <th></th>
      <th>{{addDays(currentDate, 7) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 8) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 9) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 10) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 11) | date: 'dd'}}</th>
      <th></th>
      <th>{{addDays(currentDate, 14) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 15) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 16) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 17) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 18) | date: 'dd'}}</th>
      <th></th>
      <th>{{addDays(currentDate, 21) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 22) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 23) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 24) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 25) | date: 'dd'}}</th>
      <th></th>
    </tr>

    <!-- Pour chaque tâche -->
    <tr *ngFor="let task of tasks">
      <td class="notColored">{{task.position}}</td>
      <td class="notColored">{{task.resourceTrigram}}</td>
      <td class="notColored">{{task.projectName}}</td>
      <td class="notColored">{{task.name}}</td>
      <td class="notColored">{{task.workload}}</td>
      <td class="notColored">{{task.etc}}</td>

      <!-- TODO : Boucle ? -->
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 0)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 1)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 2)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 3)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 4)}}</td>
      <td></td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 7)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 8)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 9)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 10)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 11)}}</td>
      <td></td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 14)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 15)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 16)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 17)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 18)}}</td>
      <td></td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 21)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 22)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 23)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 24)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, currentDate, 25)}}</td>
      <td></td>
    </tr>

  </table>

  <!-- TODO : Classe toto ? -->
  <div id="floating-button">
    <a md-fab class="toto" (click)="openDialog()">
      <md-icon>add</md-icon>
    </a>
  </div>

</div>
