<div class="app-content" *ngIf="currentDate!= null">

  <table class="mat-elevation-z8">
    <tr class="tabHeader">
      <th colspan="6" class="white"></th>
      <th colspan="25" class="white">{{currentDate | date: 'dd' }} {{currentDate | date:
        'MMMM'}} {{currentDate | date: 'yyyy'}} - {{addDays(currentDate,
        25) | date: 'dd'}} {{addDays(currentDate, 25) | date: 'MMMM'}}
        {{addDays(currentDate, 25) | date: 'yyyy'}}
      </th>
    </tr>
    <!-- TODO : A OPTIMISER / rendre plus beau-->
    <tr class="tabHeader ">
      <th colspan="6"></th>
      <th>{{currentDate | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 1) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 2) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 3) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 4) | date: 'EE'}}</th>
      <th>WE</th>
      <th>{{addDays(currentDate, 7) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 8) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 9) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 10) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 11) | date: 'EE'}}</th>
      <th>WE</th>
      <th>{{addDays(currentDate, 14) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 15) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 16) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 17) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 18) | date: 'EE'}}</th>
      <th>WE</th>
      <th>{{addDays(currentDate, 21) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 22) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 23) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 24) | date: 'EE'}}</th>
      <th>{{addDays(currentDate, 25) | date: 'EE'}}</th>
      <th>WE</th>
    </tr>
    <tr class="tabHeader">
      <th></th>
      <th>Task</th>
      <th>Project</th>
      <th>Resource</th>
      <th>Workload</th>
      <th>Etc</th>
      <th>{{currentDate | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 1) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 2) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 3) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 4) | date: 'dd'}}</th>
      <th></th>
      <th>{{addDays(currentDate, 7) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 8) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 9) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 10) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 11) | date: 'dd'}}</th>
      <th></th>
      <th>{{addDays(currentDate, 14) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 15) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 16) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 17) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 18) | date: 'dd'}}</th>
      <th></th>
      <th>{{addDays(currentDate, 21) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 22) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 23) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 24) | date: 'dd'}}</th>
      <th>{{addDays(currentDate, 25) | date: 'dd'}}</th>
      <th></th>
    </tr>

    <!-- Pour chaque tâche -->
    <tbody class='container' [dragula]='"planningRows"' [dragulaModel]='tasks'>
    <tr *ngFor="let task of tasks">
      <td class="notColored">
        <mat-checkbox [disabled]="showDoneButton" (click)="taskSelected($event, task._id)" [(ngModel)]="task.selected"></mat-checkbox>
      </td>
      <td class="notColored">{{task.name}}</td>
      <td class="notColored">{{task.projectName}}</td>
      <td class="notColored">{{task.resourceTrigram}}</td>
      <td class="notColored">{{task.workload}}</td>

      <td class="notColored" *ngIf="!showDoneButton">{{task.etc}}</td>
      <input name="taskEtc" matInput placeholder="Etc" [(ngModel)]="task.etc" *ngIf="showDoneButton">


      <!-- TODO : Boucle ? -->
      <td>{{getWorkloadForDate(task, currentDate, 0)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 1)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 2)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 3)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 4)}}</td>
      <td class="weekEnd"></td>
      <td>{{getWorkloadForDate(task, currentDate, 7)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 8)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 9)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 10)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 11)}}</td>
      <td class="weekEnd"></td>
      <td>{{getWorkloadForDate(task, currentDate, 14)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 15)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 16)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 17)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 18)}}</td>
      <td class="weekEnd"></td>
      <td>{{getWorkloadForDate(task, currentDate, 21)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 22)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 23)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 24)}}</td>
      <td>{{getWorkloadForDate(task, currentDate, 25)}}</td>
      <td class="weekEnd"></td>
    </tr>
    </tbody>
  </table>

  <div id="floating-button-area">
    <a mat-fab (click)="openDialogCreate()" *ngIf="showAddButton">
      <mat-icon>add</mat-icon>
    </a>
    <a mat-fab (click)="openDialogModify()" *ngIf="showModifyButton">
      <mat-icon>create</mat-icon>
    </a>
    <a mat-fab (click)="deleteSelectedTasksAsync()" *ngIf="showDeleteButton">
      <mat-icon>delete</mat-icon>
    </a>
    <a mat-fab (click)="doneNextWeek()" *ngIf="showDoneButton">
      <mat-icon>done</mat-icon>
    </a>
    <a mat-fab (click)="cancelNextWeek()" *ngIf="showDoneButton">
      <mat-icon>clear</mat-icon>
    </a>
  </div>

</div>
