table {
  border-collapse: collapse;
  width: 100%;
}
table, td {
  border: 1px solid lightgrey;
  text-align: center;
}

tr.tabHeader {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: #F06292;
  color: white;
}

td:empty{
  background-color: lightgrey;
}

td:not(:empty){
  background-color: yellow;
}

td.notColored {
  background-color: white;
}

th.white, td.white {
  border: 0px;
}

td.weekEnd, td.white {
  border: 0px;
}

#floating-button{
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}
