<nav class="navbar navbar-inverse bg-inverse">
  <div class="navbar-nav">
    <form class="form-inline">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nav-item nav-link" href="#">Today</a>
      <i class="nav-item nav-link fa fa-angle-left fa-lg" aria-hidden="true"></i>
      <i class="nav-item nav-link fa fa-angle-right fa-lg" aria-hidden="true"></i>
      <a class="nav-item nav-link fa fa-angle-down  fa-align-right" href="#">2017</a>
      <span dropdown (isOpenChange)="toggled($event)">
        <a href dropdownToggle (click)="false">2017</a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let choice of items">
              <a class="dropdown-item" href="#">{{choice}}</a>
            </li>
          </ul>
      </span>
      <a class="nav-item nav-link" href="#">Jan</a>
      <a class="nav-item nav-link" href="#">Feb</a>
      <a class="nav-item nav-link" href="#">Mar</a>
      <a class="nav-item nav-link" href="#">Apr</a>
      <a class="nav-item nav-link" href="#">May</a>
      <a class="nav-item nav-link" href="#">Jun</a>
      <a class="nav-item nav-link" href="#">Jul</a>
      <a class="nav-item nav-link" href="#">Aug</a>
      <a class="nav-item nav-link" href="#">Sep</a>
      <a class="nav-item nav-link" href="#">Oct</a>
      <a class="nav-item nav-link" href="#">Nov</a>
      <a class="nav-item nav-link" href="#">Dev</a>
    </form>
  </div>
</nav>

<div class="container">

  <h1>Bootstrap starter template</h1>
  <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

  <i class="fa fa-camera-retro fa-lg"></i> fa-lg
  <i class="fa fa-camera-retro fa-2x"></i> fa-2x
  <i class="fa fa-camera-retro fa-3x"></i> fa-3x
  <i class="fa fa-camera-retro fa-4x"></i> fa-4x
  <i class="fa fa-camera-retro fa-5x"></i> fa-5x

</div> <!-- /container -->
<div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
</div>


