<app-layout-header></app-layout-header>

<!-- To be removed -->
<br>

<md-grid-list cols="13" rowHeight="15px">
  <!--  -->
  <md-grid-tile rowspan="1" colspan="6"></md-grid-tile>
  <md-grid-tile rowspan="1" colspan="7">1 - 7 May 2017</md-grid-tile>

  <md-grid-tile rowspan="2" colspan="6"></md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Monday</md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Tuesday</md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Wednesday</md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Thursday</md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Friday</md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Saturday</md-grid-tile>
  <md-grid-tile rowspan="2" colspan="1">Sunday</md-grid-tile>

  <md-grid-tile rowspan="3" colspan="1">Position</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">Resource</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">Project</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">Task</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">Workload</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">RAE</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">01</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">02</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">03</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">04</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">05</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">06</md-grid-tile>
  <md-grid-tile rowspan="3" colspan="1">07</md-grid-tile>

  <!-- TODO : Parse JSON -->
  <md-grid-tile rowspan="4" colspan="5">
    <md-select placeholder="Favorite food">
      <md-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </md-option>
    </md-select>
  </md-grid-tile>

</md-grid-list>
