<app-layout-header></app-layout-header>

<md-toolbar color="primary">
  <span>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item>
        <i class="material-icons">dashboard</i>
        Dashboard </button>
      <button md-menu-item>
        <i class="material-icons">schedule</i>
        Schedule </button>
      <button md-menu-item>
        <i class="material-icons">people</i>
        Resources </button>
      <button md-menu-item>
        <i class="material-icons">poll</i>
        Reports </button>
      <button md-menu-item>
        <i class="material-icons">settings</i>
        Settings </button>
      <button md-menu-item>
        <i class="material-icons">help</i>
        Help </button>
    </md-menu>
  </span>
  <span>
    <button md-button [mdMenuTriggerFor]="appMenu">
       <i class="material-icons">menu</i>
    </button>
  </span>

  <span>
    <button md-button> Today </button>
  </span>
  <span><i class="material-icons">keyboard_arrow_left</i></span>
  <span><i class="material-icons">keyboard_arrow_right</i></span>
  <span>2017<i class="material-icons">keyboard_arrow_down</i></span>

  <md-nav-list>
    <md-list-item *ngFor="let link of links">
      <a md-line href="...">{{ link }}</a>
      <button md-icon-button (click)="showInfo(link)">
        <md-icon>info</md-icon>
      </button>
    </md-list-item>
  </md-nav-list>


  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><button md-button>
       <i class="material-icons">error_outline</i>
    Alerts
    </button></span>
</md-toolbar>
