<div class="app-content">

  <!-- cf. material CSS + Drag & Drop : utiliser hammerjs-->
  <table class="mat-elevation-z2">
    <tr>
      <th colspan="6" class="white"></th>
      <th colspan="7" class="white">1 - 7 May 2017</th>
    </tr>
    <tr>
      <th colspan="6"></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <th>Position</th>
      <th>Resource</th>
      <th>Project</th>
      <th>Task</th>
      <th>Workload</th>
      <th>RAE</th>
      <th>01</th>
      <th>02</th>
      <th>03</th>
      <th>04</th>
      <th>05</th>
      <th>06</th>
      <th>07</th>
    </tr>

    <!-- Pour chaque tâche -->
    <tr *ngFor="let task of tasks">
      <td>{{task.position}}</td>
      <td>{{task.resourceId}}</td>
      <td>{{task.projectId}}</td>
      <td>{{task.name}}</td>
      <td>{{task.workload}}</td>
      <td>{{task.etc}}</td>
    </tr>
  </table>
</div>
