<div class="app-content" *ngIf="planningParams!= null">

  <table class="mat-elevation-z8">
    <tr>
      <th colspan="6" class="white"></th>
      <th colspan="7" class="white">{{planningParams.currentDate | date: 'dd'}} - {{addDays(planningParams.currentDate,
        6) | date: 'dd'}} {{planningParams.currentDate | date: 'MMMM'}} {{planningParams.currentDate | date: 'yyyy'}}
      </th>
    </tr>
    <tr>
      <th colspan="6"></th>
      <th>{{planningParams.currentDate | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 1) | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 2) | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 3) | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 4) | date: 'EEEE'}}</th>
      <th>WE</th>
    </tr>
    <tr>
      <th>Position</th>
      <th>Resource</th>
      <th>Project</th>
      <th>Task</th>
      <th>Workload</th>
      <th>RAE</th>
      <th>{{planningParams.currentDate | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 1) | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 2) | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 3) | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 4) | date: 'dd'}}</th>
      <th></th>
    </tr>

    <!-- Pour chaque tâche -->
    <tr *ngFor="let task of tasks">
      <td>{{task.position}}</td>
      <td>{{task.resource}}</td>
      <td>{{task.project}}</td>
      <td>{{task.name}}</td>
      <td>{{task.workload}}</td>
      <td>{{task.etc}}</td>

      <!-- TODO : Boucle ? -->
      <td>{{getWorkloadForDate(task.daysMap, planningParams.currentDate, 0)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, planningParams.currentDate, 1)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, planningParams.currentDate, 2)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, planningParams.currentDate, 3)}}</td>
      <td>{{getWorkloadForDate(task.daysMap, planningParams.currentDate, 4)}}</td>
      <td></td>
    </tr>

  </table>
</div>
