<div class="app-content" *ngIf="planningParams!= null">

  <!-- Questions expert : Logique calcul portée par Back- ou Front ? => Back -->
  <!-- Pb cast https://stackoverflow.com/questions/42774431/typescript-default-properties-when-type-casting -->
  <!-- Modélisation JSON => garder ID pour update, mais logique update en masse plutot que référence par Id -->
  <!-- cf. material CSS + Drag & Drop : utiliser hammerjs-->
  <table class="mat-elevation-z2">
    <tr>
      <th colspan="6" class="white"></th>
      <th colspan="7" class="white">1 - 7 May 2017</th>
    </tr>
    <tr>
      <th colspan="6"></th>
      <th>{{planningParams.currentDate | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 1) | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 2) | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 3) | date: 'EEEE'}}</th>
      <th>{{addDays(planningParams.currentDate, 4) | date: 'EEEE'}}</th>
      <th>WE</th>
    </tr>
    <tr>
      <th>Position</th>
      <th>Resource</th>
      <th>Project</th>
      <th>Task</th>
      <th>Workload</th>
      <th>RAE</th>
      <th>{{planningParams.currentDate | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 1) | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 2) | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 3) | date: 'dd'}}</th>
      <th>{{addDays(planningParams.currentDate, 4) | date: 'dd'}}</th>
      <th></th>
    </tr>

    <!-- Pour chaque tâche -->
    <tr *ngFor="let task of tasks">
      <td>{{task.position}}</td>
      <td>{{task.resourceId}}</td>
      <td>{{task.projectId}}</td>
      <td>{{task.name}}</td>
      <td>{{task.workload}}</td>
      <td>{{task.etc}}</td>
    </tr>

  </table>
</div>
