<mat-toolbar color="primary" class="mat-elevation-z5">
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
       <i class="material-icons">menu</i>
    </button>
  </span>

  <span>
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button (click)="today()">Today</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="previous()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button (click)="next()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>

  <span>
    <button mat-button>
       <i class="material-icons">error_outline</i>
    n Alerts
    </button>

    <button mat-icon-button [matMenuTriggerFor]="actionMenu">
       <i class="material-icons">more_vert</i>
    </button>
  </span>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button routerLink="/schedule" mat-menu-item>
    <i class="material-icons">schedule</i>
    Schedule </button>
  <button routerLink="/resources" mat-menu-item>
    <i class="material-icons">people</i>
    Resources </button>
  <button mat-menu-item>
    <i class="material-icons">poll</i>
    Reports </button>
  <button mat-menu-item>
    <i class="material-icons">settings</i>
    Settings </button>
  <button mat-menu-item>
    <i class="material-icons">help</i>
    Help </button>
</mat-menu>

<mat-menu #actionMenu="matMenu">
  <button mat-menu-item (click)="moveToNextWeek()">
    <i class="material-icons">redo</i>
    Move to next week </button>
</mat-menu>
