<md-toolbar color="primary" class="mat-elevation-z5">
  <span>
    <md-menu #appMenu="mdMenu">
      <button routerLink="/schedule" md-menu-item>
        <i class="material-icons">schedule</i>
        Schedule </button>
      <button routerLink="/resources" md-menu-item>
        <i class="material-icons">people</i>
        Resources </button>
      <button md-menu-item>
        <i class="material-icons">poll</i>
        Reports </button>
      <button md-menu-item>
        <i class="material-icons">settings</i>
        Settings </button>
      <button md-menu-item>
        <i class="material-icons">help</i>
        Help </button>
    </md-menu>
  </span>
  <span>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
       <i class="material-icons">menu</i>
    </button>
  </span>

  <!-- TODO : Modifier liens -->
  <span>
    <md-nav-list>
      <md-list-item>
        <a md-line href="/schedule">Today</a>
      </md-list-item>
      <md-list-item>
        <button md-icon-button (click)="previous()">
          <md-icon>keyboard_arrow_left</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <!-- <a md-line class="material-icons" (click)="next()" href="#">keyboard_arrow_right</a> -->
        <button md-icon-button (click)="next()">
          <md-icon>keyboard_arrow_right</md-icon>
        </button>
      </md-list-item>

      <!-- TODO : Replace with DatePicker -->
      <md-list-item>
        <a md-line href="https://www.google.fr">2017<i class="material-icons">keyboard_arrow_down</i></a>
      </md-list-item>
      <md-list-item *ngFor="let monthName of monthNames">
       <a md-line href="test">{{ monthName }}</a>
      </md-list-item>
      <md-list-item>
       - <md-slide-toggle></md-slide-toggle> +
      </md-list-item>
    </md-nav-list>

  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="app-toolbar-filler"></span>

  <span><button md-button>
       <i class="material-icons">error_outline</i>
    n Alerts
    </button></span>
</md-toolbar>
